*{
    padding: 0px;
    margin: 0px;
}
body{
   background-color:lightskyblue;
  
}

.nav-bg{
    background-color: #ffffff;
    color: black;
    
}
header{
    background-color: green;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.cont-height{
    height: 150px;
}
courses-flex{
    
}
.flex-Box{
    display: flex;
    justify-content:space-around;
    
    
    
}
p{
   font-size: 24px; 
    
}
h4{
    color: black;
    font-weight: 700;
    text-align: center;
    font-weight: 600;
    font-size: 27px;
}
h3{
    padding: 10px;
    font-size: 35px;
    
}
.h5{
    background-color: ;
}
h5{
    font-weight: 600;
    
    color: white;
   
    text-align: center;
    padding: 14px;
    margin: 8px;
    font-size: 28px;
}
.first, .Second, .Third{
    
    width: 35%;
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin: 15px;
    background-color: white;
   
}
.form-section{
    margin: 30px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    min-height: 50vh;
  
}

form input{
    margin: 10px;
}
form{
    background-color: rgba(128, 0, 128, 0.53);
    padding: 50px;
    margin: 10px;
    
}
input{
    background-color: none;
    
    width: 100%;
  padding: 12px;
  border: 1px solid red;
  
  border-radius: 23px;
  box-sizing: border-box;
  resize: vertical;
}
label{
    padding: 5px;
    color: white;
    font-weight: 400;
    font-size: 19px;
    margin: 3px;
}
select{
    border: none;
    padding: 6px;
    margin: 10px;
}
/*
@media screen and (max-width: 600px) {
  .form-section{
    
      width: auto;
    
  }
    form{
        left: -50px;
    }
}
@media screen and (max-width: 1030px) {
    .form-section{
        width: auto;
    }
  .form{
   left: -180px;
  }
}*/

@media screen and (max-width: 650px) {
  .first,.Second,.Third{
    display: block;
      width: 100%;
  
      
   
  }
    .flex-Box{
      display: block;
      width: 100%;
    
    }
}
